	html,body{overflow-x: hidden}
    .f-cursor{cursor: pointer}
    .tab-pane{padding: 30px 10px 0 10px}
    .nav-tabs a {color: #fff}
    .u-text1{color:#fff}
    .u-text2{color:#00B7FF}
    .u-text3{color:#D43F3A}
    .u-text4{color:#4CAE4C}
    .shape{height: 300px;}
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border:none;  color: #db6f6a;  background-color: #000;}
    .nav>li>a:focus,.nav>li>a:hover {border:none;background-color:#000;color:#db6f6a;}
    .nav-tabs>li>a{border:none}
    .nav-tabs>li{margin-bottom:0}
    table{color:#fff;}
    .table-box {width:100%;table-layout:fixed;overflow: auto}
    .g-table{text-align: center}


    /**
 * 	Style of tooltip
 */
#scroll_tip{
	background:black;
	color:#999;
}

/**
 * 	Style of tootip triangle
 */
#scroll_tip:after, #scroll_tip.bottom:after, #scroll_tip.top:after, #scroll_tip.left:after, #scroll_tip.right:after {
	border-color: #47a3da transparent;
}

/**
 * 	Menu size
 */
#scroll_menu {
	font-size:20px;
}

/* Colors for menu elements*/
.scroll_colors
{
	background:#222222;
	color:#999;
}

/* 
Style for hovered menu elements, active menu element and back button
* */
.scroll_menu li:hover, .scroll_menu li:hover a, .scroll_menu li:hover span,
.scroll_menu li.current a, .scroll_menu li.current span,#scroll_back span,
.hover_colors
{ 
    background: #2e81b0;
    color: #fff;
    text-decoration:none;
    
}

/*
 * Hide button is buttom used for show or hide menu
 */
.hide_button{
	background:black;
}
/*
 * Hide button style when mouse on it
 */
.hide_button:hover{
	background:black;
}

.back-to-top a{background-image: url(../img/top.png);text-align:center;line-height:25px;z-index:100000;position:fixed;right:20px;bottom:20px;display: inline-block;width:45px;height:80px;color:#999;text-decoration: none}
		

